@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333;
  height: 10vh;
}

.menu-bars i {
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}

.nav-links {
  position: absolute;
  right: 0;
  height: 90vh;
  top: 10vh;
  background: #333;
  display: flex;
  flex-direction: column;
  line-height: 1.1in;
  align-items: center;
  width: 50%;
  z-index: 100;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 1.4rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 1.4rem;
}

main {
  background: darkgray;
  height: 80vh;
}

main h1 {
  padding-top: 2rem;
}

form {
  border: 2px solid #000;
  padding: 30px;
  border-radius: 4px;
}

label {
  font-size: 2rem;
  color: #fff;
}

input[type="text"] {
  width: 100%;
  padding: 10px 13px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  outline: none;
}

input[type="submit"] {
  width: 25%;
  padding: 12px 11px;
  border-radius: 6px;
  border: 1px solid #fff;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.cen {
  text-align: center;
}

.btn {
  background: red;
}

.btn1 {
  border: none;
  background: #000000;
  color: white;
  border-radius: 5px;
  padding: 8px 10px;
  float: right;
  margin-right: 5px;
}

footer {
  background: #000;
  height: 10vh;
}
